/* start variables */
:root {
  --z-top: 1000;
  --main-color: #a0521d;
  --secondary-color: #e7c462;
  --third-color: #d99227;
  --section-padding: 100px;
  --title-font: 28px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

*::selection {
  color: var(--secondary-color);
  background-color: var(--main-color);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--main-color, #333);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color, #eee);
  border-radius: 10px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 80%;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1.4rem;
}

html::-webkit-scrollbar-track {
  background: #333;
}

html::-webkit-scrollbar-thumb {
  background: var(--yellow);
}

section {
  min-height: 100vh;
  padding: 1rem 10%;
  padding-top: 8.5rem;
}

/* End Variables */

/* Start Header */

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-top);
  width: 100%;
  background: #fff;
  padding: 1.5rem 10%;
  box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  flex: 1;
}

header .navbar a {
  font-size: 1.7rem;
  color: #666;
  margin: 10px;
}

header .navbar #profile {
  color: red;
}
/* End Header */

/* Start login */

.form-control {
  margin: 20px;
  background-color: var(--secondary-color);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 25px;
  border-radius: 8px;
}
.title {
  font-size: var(--title-font);
  font-weight: 800;
  text-transform: capitalize;
  text-align: center;
}
.input-field {
  position: relative;
  width: 100%;
}

.input {
  margin-top: 15px;
  width: 100%;
  outline: none;
  border-radius: 8px;
  height: 45px;
  border: 1.5px solid var(--main-color);
  background: transparent;
  color: var(--main-color);
  text-transform: capitalize;
  font-size: large;
  padding-left: 10px;
}

.input:focus {
  border: 1.5px solid #2d79f3;
}

.submit-btn {
  margin-top: 30px;
  height: 55px;
  background: var(--third-color);
  border-radius: 11px;
  border: 0;
  outline: none;
  color: var(--main-color);
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: var(--main-color);
  color: var(--third-color);
}

/* End login */

/* Start add-reservation */

.container {
  display: flex;
  justify-content: center;
}

.form-control {
  margin: 20px;
  background-color: var(--secondary-color);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 25px;
  border-radius: 8px;
}
.title {
  font-size: var(--title-font);
  font-weight: 800;
  text-transform: capitalize;
  text-align: center;
}

.input-field {
  position: relative;
  width: 100%;
  font-size: 18px;
  text-transform: capitalize;
}

.input {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  outline: none;
  border-radius: 8px;
  height: 45px;
  border: 1.5px solid var(--main-color);
  background: transparent;
  color: var(--main-color);
  text-transform: capitalize;
  font-size: large;
  padding-left: 10px;
}
.input:focus {
  border: 1.5px solid #2d79f3;
}

.date input {
  margin-top: 5px;
}

select {
  margin-bottom: 15px;
  width: 100%;
  outline: none;
  border-radius: 8px;
  height: 45px;
  border: 1.5px solid var(--main-color);
  background: var(--secondary-color);
  color: var(--main-color);
  text-transform: capitalize;
  font-size: large;
  padding-left: 10px;
}

.submit-btn {
  margin-top: 30px;
  height: 55px;
  background: var(--third-color);
  border-radius: 11px;
  border: 0;
  outline: none;
  color: var(--main-color);
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: var(--main-color);
  color: var(--third-color);
}

/* End add-reservation */

.containerh {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
  width: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.containerh table {
  width: 100%;
  border-collapse: collapse;
  text-transform: capitalize;
  margin: 0 auto;
}

.containerh th,
.containerh td {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 18px;
  transition: 0.5s;
}

.containerh th {
  background-color: var(--secondary-color);
  text-align: left;
  font-size: var(--title-font);
}

.containerh tr:nth-child(even) {
  background-color: var(--secondary-color);
}

.containerh tr:hover {
  background-color: var(--third-color);
}

.containerh td:hover {
  transform: translateX(10px);
}
