{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Hotel</title>
    <!-- custom css file link-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>



      <div class="main_cont">
        <p class="heading">add hotel</p>
        <form method="POST"   action="{% url 'add_hotel' %}">
            {% csrf_token %}
            <div class="input">
                <label for="hotel_name">enter hotel name</label>
                <input type="text" id="hotel_name" name="hname">
            </div>
            <div class="input">
                <label for="hotel_price">enter price</label>
                <input type="text" id="hotel_price" name="hprice">
            </div>
            <div class="input">
                <label for="hotel_location">enter location</label>
                <input type="text" id="hotel_location" name="hlocation">
            </div>
        <button class="btn">add hotel</button>
    </form>

    </div>

</body>

</html>
