{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Reservation</title>
    <!-- custom css file link-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>


    <div class="main_cont">
        <p class="heading">add reservation</p>
        <form method="POST" action="{% url 'add_reservation' %}">
            {% csrf_token %}
            <div class="input">
                <label for="user_name">Customer Name</label>
                <input type="text" id="user_name" name="customer">
            </div>
            <div class="input">
                <label for="user_password">Customer Mobile</label>
                <input type="text" id="user_password" name="customerM">
            </div>
            <div class="input">
                <label for="user_password">Customer Email</label>
                <input type="text" id="user_password" name="customerE">
            </div>
            <button class="btn">add reservation</button>

        </form>
    </div>

</body>

</html>